{:database-url "jdbc:sqlite:tabblio.db"
 :port "8082"
 :host "your-server-hostname"
 :clerk-secret-key "sk_..."
 :clerk-webhook-secret "whsec_..."
 :telegram-token "your-telegram-bot-token"
 :telegram-recipent "your-telegram-chat-id"}